<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Rating</title>
</head>
<body>
     <form action="{{ url_for('edit') }}" method="POST">
        <p>Book Name: {{book.title}}</p>
        <p>Current Rating {{book.rating}}</p>
         <input hidden="hidden" name="id" value="{{book.id}}">
        <select  name="rating">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>

        <button type="submit">Change Rating</button>
    </form>
</body>
</html>