<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
{% if book_list == []: %}
<p> Library is empty. </p>
{% endif %}
<ul>
{% for item in book_list: %}

    <li>
        <a href="{{ url_for('delete',id=item.id) }}">Delete</a>
        {{ item.title }} - {{ item.author }} - {{ item.rating }}/5
        <a href="{{ url_for('edit',id=item.id) }}">Edit Rating</a>
    </li>
{% endfor %}
</ul>

<a href="{{ url_for('add') }}">Add New Book</a>
</body>
</html>